.container {
  width: clamp(0px, 90%, 900px);
  margin: 0 auto;
}

.row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.full-height {
  height: 100%;
}

/** Positioning */

.pad-top-sm {
  padding-top: 2rem;
}

.pad-y-sm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-y-med {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
