:root {
  --bg-color: #666;
  --logo-txt-color: #fff;
  --label-color: #f2f2f2;
  --label-txt-color: #121212;
  --main-color: #8f0000;
  --like-color: #82edb0;
  --dislike-color: #fa7f7f;
  --button-color: #333;
  --button-clicked-color: #cbcbcb;
  --shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.5);
}

button,
a {
  cursor: pointer;
  display: block;
}

/** Utility */
.drop-shadow {
  box-shadow: var(--shadow);
}

.inner-shadow {
  box-shadow: var(--shadow) inset;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

/** Content */

body {
  background: var(--bg-color);
}

header {
  background: var(--main-color);
  color: var(--logo-txt-color);
  height: 4rem;
}

main {
  overflow: hidden;
}

.logo {
  font-size: 1.5rem;
}

.label-block,
button {
  background: var(--label-color);
  border-radius: 5px;
  width: 100%;
}

.label-block {
  font-stretch: extra-condensed;
  font-size: 1.5rem;
  max-width: 600px;
}

.remaining-cards-block {
  font-weight: bold;
  max-width: 350px;
}

h2 {
  font-stretch: 66%;
}

h3,
h3 * {
  font-stretch: semi-condensed;
}

/** buttons */

header a {
  background: 0;
  font-size: 1.25rem;
  color: var(--logo-txt-color);
}

header a:active {
  color: var(--button-color);
}

main button {
  color: var(--logo-txt-color);
  background: var(--button-color);
  font-weight: bold;
  text-align: center;
  padding: 0.75rem 0;
  box-shadow: var(--shadow);
}

.rating-buttons button {
  border-radius: 50px;
  width: 150px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.loading > *,
button:disabled {
  filter: brightness(0.75);
  cursor: default;
}

main button:enabled:active {
  color: var(--button-color);
  background: var(--button-clicked-color);
  box-shadow: var(--shadow) inset;
}

.new-card-button {
  font-size: 2rem;
  width: clamp(0px, 80%, 400px);
}

.like-button i {
  color: var(--like-color);
}

.dislike-button i {
  color: var(--dislike-color);
}

.rating-buttons button i {
  font-size: 3.5rem;
}

.rating-buttons button:enabled:active i {
  filter: brightness(50%);
}

/** images */

.image-container img {
  box-shadow: var(--shadow);
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.image-container {
  width: clamp(0px, 80%, 400px);
  height: fit-content;
}

.liked .label-block {
  background-color: var(--like-color);
}

.disliked .label-block {
  background-color: var(--dislike-color);
}

/** results styling */
ul.results-list {
  overflow-y: auto;
  all: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}

li.card {
  all: unset;
  font-stretch: semi-condensed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 0.33rem;
  width: 90%;
  background-color: var(--label-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

li.card img.race {
  width: 3rem;
}

li.card .card-text {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

li.card .card-text * {
  display: block;
  flex-basis: 100%;
  line-height: 1em;
}

li.card h3 {
  font-size: 1.5rem;
}

li.card h4 {
  font-size: 1rem;
}

li.card-liked {
  background-color: var(--like-color);
}

li.card-disliked {
  background-color: var(--dislike-color);
}

@media only screen and (min-width: 768px) {
  li.card {
    flex-basis: 40%;
  }
}
